.form {
  display: flex;
  gap: 8px;
  padding-bottom: 32px;
}
#datetime-picker {
  font-family: inherit;
  border-radius: 4px;
  min-width: 240px;
  background-color: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding: 4px 16px;
  outline: none;
  border: 2px solid #808080;
}

#datetime-picker:hover {
  background-color: #fff;
  border: 2px solid #2e2f42;
}

#datetime-picker:hover {
  background-color: #fff;
  border: 2px solid #4e75ff;
}
#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
  border: 2px solid #808080;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  outline: none;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  color: #2e2f42;
  text-transform: uppercase;
}
